/* #resume-form{
    display: none;
} */

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

body{
    background-color: var(--highlight);
}

.buton{
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--highlight);
    padding: 7px 16px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
}


.buton1{
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--highlight);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 2px 1px;
    cursor: pointer;
}


.text{
    color: var(--primary);
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: inherit;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(45 36 36 / 25%);
}


/* color codes */
:root {
    --primary: #2d2424;
    --secondary: #5c3d2e;
    --light: #b85c38;
    --highlight : #e0c097;
  }

.resume-background{
    background-color: white;
}


.background{
    background-color: aqua;
}